 body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color:#d5bed5 ;
    overflow: scroll;
}

header {
    text-align: center;
    background-color: white;
    padding: 20px 0;
    border-bottom: 3px solid #bb50bb;
}

header h1 {
    margin: 0;
    color: #a97da9;
}

header p {
    margin: 20px 0 0;
    font-family:Arial, Helvetica, sans-serif;
    color: #763e76;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    background-color: #a64ca6;
    padding: 10px 0;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 15px;
}

nav ul li a:hover {
    background-color: #7d2e7d;
    border-radius: 5px;
}

main {
    display: flex;
    margin-top: 50px;
}

.content {
    flex: 3;
    margin-right: 20px;
    background-color: white;

}

.content h2 {
    color: #a97da9;
}

.image-placeholder {
    background-color: #d1b3d9;
    text-align: center;
    padding: 50px;
    height: 20px;
    width: 50%;
    margin-top: 20px;
    border: 1px solid #a64ca6;
    color: white;
    font-weight: bold;
}

aside {
    flex: 1;
    background-color: white;
}

aside h3 {
    color: #a97da9;
}


